apiVersion: apps/v1
kind: Deployment
metadata:
  name: dhcp
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app: dhcp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dhcp
  template:
    metadata:
      labels:
        app: dhcp
        audit.kubernetes.io/pod.allow-capability-chown: "true"
        container.audit.kubernetes.io/dhcp.allow-capability-chown: "true"
      annotations:
            container.apparmor.security.beta.kubernetes.io/dhcp: runtime/default
            seccomp.security.alpha.kubernetes.io/pod: runtime/default
    spec:
      priorityClassName: system-cluster-critical
      containers:
      - name: dhcp
        image: homecentr/dhcp:{{ dhcp_image_tag }}
        # metadata:
        #   labels:
        #     container.audit.kubernetes.io/dhcp.allow-capability-chown: "true"
            # container.audit.kubernetes.io/dhcp.allow-capability-dac-override: "Required for S6 user switch"
            # container.audit.kubernetes.io/dhcp.allow-capability-net-bind-service: "Required to start DHCP on port 67"
            # container.audit.kubernetes.io/dhcp.allow-capability-net-raw: "Required for DHCP traffic"
            # container.audit.kubernetes.io/dhcp.allow-capability-setgid: "Required for S6 user switch"
            # container.audit.kubernetes.io/dhcp.allow-capability-setuid: "Required for S6 user switch"
        env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          - name: DHCP_ARGS
            value: "eth0" # To force listening on interface even though there's no subnet definition for the internal network
        ports:
          - containerPort: 67
            protocol: UDP
            resources:
        limits:
          cpu: 500m
          memory: 256Mi
        requests:
          memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          # privileged: false
          readOnlyRootFilesystem: false
          capabilities:
            drop:
            # - AUDIT_CONTROL
            # - AUDIT_WRITE
            # - FOWNER
            # - FSETID
            # - LEASE
            # - MKNOD
            # - NET_BROADCAST
            # - SETFCAP
            # - SETPCAP
            # - SYS_CHROOT
            - ALL
            add:
            - CHOWN
            - DAC_OVERRIDE
            - NET_BIND_SERVICE
            - NET_RAW
            - SETGID
            - SETUID
        volumeMounts:
          - name: dhcp-config
            mountPath: "/config/dhcpd.conf"
            subPath: dhcpd.conf
            readOnly: true
          - name: dhcp-config
            mountPath: "/etc/default/isc-dhcp-server"
            subPath: isc-dhcp-server
            readOnly: true
          - mountPath: /leases
            name: leases
      volumes:
        - name: dhcp-config
          configMap:
            name: dhcp
            items:
            - key: dhcpd.conf
              path: dhcpd.conf
            - key: interfaces
              path: interfaces
        - name: leases
          persistentVolumeClaim:
            claimName: dhcp-leases