apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: dhcp
  namespace: "{{ k3s_namespace | mandatory }}"
spec:
  podSelector:
    matchLabels:
      app: dhcp
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - protocol: UDP
          port: 67
      from:
{% for subnet in dhcp_subnets %}
      - ipBlock:
          cidr: "{{ subnet.cidr }}"
{% endfor %}