apiVersion: v1
kind: Service
metadata:
  name: netboot-udp
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    metallb.universe.tf/allow-shared-ip: netboot
    metallb.universe.tf/loadBalancerIPs: {{ netboot_boot_ipv4_address }}
spec:
  type: LoadBalancer
  ports:
  - name: tftp
    port: 69
  selector:
    app: netboot