apiVersion: v1
kind: Secret
metadata:
  name: snipe-it
  namespace: {{ k3s_namespace }}
type: Opaque
stringData:
  db-password: "{{ snipe_it_db_password }}"
  app-key: "{{ snipe_it_app_key }}"
  smtp-username: "{{ snipe_it_smtp_username }}"
  smtp-password: "{{ snipe_it_smtp_password }}"