apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: authentik-worker
  namespace: "{{ k3s_namespace | mandatory }}"
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: authentik
      app.kubernetes.io/component: worker
  policyTypes:
    - Ingress
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app.kubernetes.io/name: authentik
            app.kubernetes.io/component: server