apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: qbittorrent-https
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  rules:
  - host: {{ nextcloud_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nextcloud
            port:
              number: 443
  tls:
    - secretName: {{ nextcloud_tls_certificate_name }}