apiVersion: apps/v1
kind: Deployment
metadata:
  name: ldap-account-manager
  namespace: "{{ ldap_account_manager_target_namespace | mandatory }}"
  labels:
    app: ldap-account-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ldap-account-manager
  template:
    metadata:
      labels:
        app: ldap-account-manager
    spec:
      containers:
      - name: ldap-account-manager
        image: ldapaccountmanager/lam:{{ ldap_account_manager_image_tag }}
        env:
          - name: LAM_SKIP_PRECONFIGURE
            value: "true"
          - name: LDAP_SERVER
            value: "ldap://openldap:389"
          - name: LDAP_USER
            value: ""
          - name: LAM_PASSWORD
            value: "" # TODO: Secret
          - name: LAM_CONFIGURATION_DATABASE
            value: files
          - name: LDAP_ORGANISATION
            value: "Homecentr"
        ports:
          - containerPort: 8080
        volumeMounts:
          - mountPath: /var/lib/ldap-account-manager/config
            name: config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: ldap-account-manager