apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ldap-account-manager-https
  namespace: "{{ ldap_account_manager_target_namespace | mandatory }}"
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  rules:
  - host: {{ ldap_account_manager_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: ldap-account-manager
            port:
              number: 8080
  tls:
    - secretName: {{ ldap_account_manager_tls_certificate_name }}