version: '3.7'
services:
  agent:
    image: ghcr.io/homecentr/swarm-local-network-connector:{{ network_connector_docker_image_version }}
    environment:
      PUID: "{{ network_connector_user_id }}"
      PGID: "{{ network_connector_group_id }}"
      PUID_ADDITIONAL_GROUPS: "{{ docker_gid }}:docker"
      LOG_LEVEL: "debug"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      mode: global