apiVersion: v1
kind: Secret
metadata:
  name: openldap-admin-user
  namespace: {{ openldap_target_namespace | mandatory }}
type: Opaque
stringData:
  username: {{ openldap_admin_username }}
  password: {{ openldap_admin_password }}