apiVersion: v1
kind: Secret
metadata:
  name: openldap-tls
  namespace: {{ openldap_target_namespace | mandatory }}
type: Opaque
stringData:
  ca_cert: {{ openldap_tls_ca_cert }}
  server_cert: {{ openldap_tls_server_cert }}
  server_key: {{ openldap_tls_server_key }}