apiVersion: v1
kind: Service
metadata:
  name: openldap
  namespace: "{{ openldap_target_namespace | mandatory }}"
  annotations:
    metallb.universe.tf/loadBalancerIPs: {{ openldap_ipv4_address }}
spec:
  ports:
  - name: "ldap"
    port: 389
    targetPort: 1389
  - name: "ldaps"
    port: 686
    targetPort: 1686
  selector:
    app: openldap
  type: LoadBalancer