apiVersion: v1
kind: Endpoints
metadata:
  name: node-exporter-{{ inventory_hostname }}
  namespace: monitoring
  labels:
    app.kubernetes.io/name: node-exporter
    app.kubernetes.io/managed-by: ansible
    app.kubernetes.io/instance: {{ fqdn }}
subsets:
  - addresses:
    - ip: {{ ansible_host }}
    ports:
      - name: metrics
        port: 9100
        protocol: TCP