apiVersion: v1
kind: Service
metadata:
  name: node-exporter-{{ inventory_hostname }}
  namespace: monitoring
  labels:
    app.kubernetes.io/name: node-exporter
    app.kubernetes.io/managed-by: ansible
    app.kubernetes.io/instance: {{ fqdn }}
spec:
  type: ExternalName
  externalName: {{ fqdn }}
  clusterIP: ""
  ports:
  - name: metrics
    port: 9100
    protocol: TCP
    targetPort: 9100