version: '3.7'
services:
  wildcard:
    image: homecentr/certbot:{{ docker_image_version | mandatory }}
    deploy:
      mode: replicated
    environment:
      PUID: "{{ container_uid | mandatory }}"
      PGID: "{{ container_gid | mandatory }}"
      CERTBOT_ARGS: "--email {{ certbot_acme_email | mandatory }} --dns-cloudflare --dns-cloudflare-credentials /secrets/cloudflare.ini --no-eff-email -d *.{{ root_domain }}{% if certbot_use_staging %} --staging{% endif %}"
    volumes:
      - "{{ homecentr_root | mandatory }}/certbot:/secrets:ro"
      - "{{ homecentr_root | mandatory }}/ssl:/etc/letsencrypt"