apiVersion: v1
kind: Service
metadata:
  name: external-dns-udp
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    metallb.universe.tf/allow-shared-ip: "external-dns"
    metallb.universe.tf/loadBalancerIPs: {{ external_dns_ipv4_address | mandatory }}
  labels:
    app.kubernetes.io/name: external-dns
    app.kubernetes.io/component: udp-service
    app.kubernetes.io/managed-by: ansible
spec:
  type: LoadBalancer
  ports:
  - port: 53
    targetPort: 1053
    protocol: UDP
  selector:
    app.kubernetes.io/name: external-dns
  externalTrafficPolicy: Local