apiVersion: v1
kind: Service
metadata:
  name: external-dns-tcp
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    metallb.universe.tf/allow-shared-ip: "external-dns"
    metallb.universe.tf/loadBalancerIPs: {{ external_dns_ipv4_address | mandatory }}
spec:
  type: LoadBalancer
  ports:
  - port: 53
    targetPort: 53
    protocol: TCP
  selector:
    k8s-app: external-dns