---
apiVersion: kadalu-operator.storage/v1alpha1
kind: KadaluStorage
metadata:
  name: gluster-{{ name }}
  namespace: {{ k3s_namespace }}
spec:
  pvReclaimPolicy: {{ "retain" if mode == "pv_direct" else (reclaim_mode | default("delete")) }}
  type: External
  kadalu_format: {{ (k3s_kadalu_mode_mapping[mode] if k3s_kadalu_mode_mapping[mode] is defined) | mandatory("Value "+ name +" is not a valid kadalu volume mode") }}
  details:
    gluster_hosts: [ {{ hosts | join(',') }} ]
    gluster_volname: {{ name }}
    gluster_options: log-level=DEBUG