apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unifi-controller-http
  namespace: "{{ unifi_controller_target_namespace | mandatory }}"
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.middlewares: "{{ unifi_controller_target_namespace | mandatory }}-unifi-controller-redirect-to-https@kubernetescrd"
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
  - host: {{ unifi_controller_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: unifi-controller-webui
            port:
              number: 8443