apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: unifi-controller
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app.kubernetes.io/name: unifi-controller
    app.kubernetes.io/managed-by: ansible
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: unifi-controller
  policyTypes:
    - Ingress
  ingress:
    - ports:
      - protocol: TCP
        port: 8443
      from:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: kube-system
        podSelector:
          matchLabels:
            app.kubernetes.io/name: traefik
    - ports:
      # Note: Guest portal not used, ports disabled until needed
      - protocol: TCP
        port: 8080
      - protocol: TCP
        port: 6789
      - protocol: UDP
        port: 3478
      - protocol: UDP
        port: 10001
      - protocol: UDP
        port: 1900
      from:
      - ipBlock:
          cidr: "{{ unifi_controller_infra_subnet_cidr }}"
        