kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: unifi-controller
  namespace: "{{ unifi_controller_target_namespace | mandatory }}"
spec:
  storageClassName: {{ unifi_controller_storage_class | mandatory }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi