apiVersion: v1
kind: Service
metadata:
  name: unifi-controller-infra-tcp
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    metallb.universe.tf/allow-shared-ip: "UnifiController"
    metallb.universe.tf/loadBalancerIPs: "{{ unifi_controller_infra_ipv4_address }}"
spec:
  ports:
  - name: "https-web-ui" # TODO: Remove after proxy is working
    port: 8443
  - name: "devices-communication"
    port: 8080
  - name: "guest-portal-https"
    port: 8843
  - name: "guest-portal-http"
    port: 8880
  - name: "mobile-throughput-test"
    port: 6789
  type: LoadBalancer
  selector:
    app: unifi-controller