apiVersion: v1
kind: Service
metadata:
  name: unifi-controller-infra-udp
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    metallb.universe.tf/allow-shared-ip: UnifiController
    metallb.universe.tf/loadBalancerIPs: {{ unifi_controller_infra_ipv4_address }}
  labels:
    app.kubernetes.io/name: unifi-controller
    app.kubernetes.io/managed-by: ansible
spec:
  ports:
  - name: "stun"
    port: 3478
    protocol: UDP    
  - name: "ap-discovery"
    port: 10001
    protocol: UDP
  - name: "l2-discovery"
    port: 1900
    protocol: UDP
  # - name: "syslog"
  #   port: 5514
  #   protocol: UDP
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app.kubernetes.io/name: unifi-controller