apiVersion: traefik.containo.us/v1alpha1
kind: ServersTransport
metadata:
  name: unifi-controller
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app.kubernetes.io/name: unifi-controller
    app.kubernetes.io/managed-by: ansible
spec:
  insecureSkipVerify: true