apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: snipe-it-http
  namespace: "{{ k3s_namespace }}"
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.middlewares: "{{ k3s_namespace }}-redirect-to-https@kubernetescrd"
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
  - host: {{ snipe_it_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: snipe-it
            port:
              number: 80