apiVersion: v1
kind: Service
metadata:
  name: snipe-it
  namespace: "{{ k3s_namespace | mandatory }}"
spec:
  ports:
  - name: "web-ui"
    port: 80
  selector:
    app: snipe-it
    component: server