apiVersion: v1
kind: Secret
metadata:
  name: certmanager-cloudflare-api-token
  namespace: {{ certmanager_target_namespace }}
type: Opaque
stringData:
  api-token: {{ certmanager_cloudflare_api_token }}