version: "3.7"
services:
  pomerium:
    image: ghcr.io/homecentr/pomerium:{{ auth_docker_image_version }}
    deploy:
      mode: replicated
      replicas: 1
      labels:
       - traefik.enable=true
       - traefik.http.routers.auth.tls=true
       - traefik.http.routers.auth.entrypoints=websecure
       - traefik.http.routers.auth.rule=Host(`{{ auth_domain }}`)
       - traefik.http.services.auth.loadbalancer.server.port=80
    networks:
      ingress:
        aliases:
          - fwdauth
    environment:
      PUID: "{{ auth_user_id }}"
      PGID: "{{ auth_group_id }}"
    volumes:
      - "{{ auth_root_dir }}:/config:ro"

networks:
  ingress:
    name: "homecentr-ingress"
    external: true