apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: netboot-https
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: "{{ k3s_namespace | mandatory }}-authentik@kubernetescrd"
spec:
  rules:
  - host: {{ netboot_webui_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: netboot-webui
            port:
              number: 3000
  tls:
    - secretName: {{ netboot_tls_certificate_name }}