apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: authentik-http
  namespace: "{{ authentik_target_namespace | mandatory }}"
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.middlewares: "{{ authentik_target_namespace | mandatory }}-authentik-redirect-to-https@kubernetescrd"
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
  - host: {{ authentik_hostname | mandatory }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: authentik
            port:
              number: 80