apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: authentik-https
  namespace: "{{ authentik_target_namespace | mandatory }}"
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  rules:
  - host: {{ authentik_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: authentik
            port:
              number: 80
  tls:
    - secretName: {{ authentik_tls_certificate_name }}