apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: authentik-postgresql
  namespace: "{{ k3s_namespace | mandatory }}"
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/instance: authentik
      app.kubernetes.io/name: postgresql
  policyTypes:
    - Ingress
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app.kubernetes.io/name: authentik
            app.kubernetes.io/component: worker
      - podSelector:
          matchLabels:
            app.kubernetes.io/name: authentik
            app.kubernetes.io/component: server