apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: authentik-redirect-to-https
  namespace: "{{ authentik_target_namespace | mandatory }}"
spec:
  redirectScheme:
    scheme: https
    permanent: true