# Listen on all interfaces (limited by the scope of Docker container so there is no point in filtering the interfaces)
listen on 0.0.0.0

# Only clients connecting from allowed CIDRs can send e-mails
table allowed_sources { {{ opensmtpd_relay_anonymous_allowed_cidrs | join(',') }} }

# SMTP Relay credentials
table secrets { secret-relay = "{{ opensmtpd_relay_smtp_username | mandatory }}:{{ opensmtpd_relay_smtp_password | mandatory }}" }

# Define relay rule for all incoming e-mails
action "relay" relay host smtp+tls://secret-relay@{{ opensmtpd_relay_smtp_host | mandatory }}:{{ opensmtpd_relay_smtp_port | mandatory }} auth <secrets>

# Relay without authentication only e-mails from trusted IP addresses
match from src <allowed_sources> mail-from regex "^.*@{{ opensmtpd_relay_domain.replace(".", "\.") }}$" for any action "relay"