apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app.kubernetes.io/name: frigate
    app.kubernetes.io/managed-by: ansible
data:
  frigate.yml: |
    mqtt:
      host: {{ frigate_mqtt_host }}

    database:
      path: /db/frigate.db

    cameras:
        camera_1:
            ffmpeg:
                inputs:
                    - path: rtsp://10.0.10.10:554/rtsp
                      roles:
                        - detect
                        - rtmp
            detect:
                width: 1280
                height: 720
            motion:
                mask:
                    - 0,461,3,0,1919,0,1919,843,1699,492,1344,458,1346,336,973,317,869,375,866,432