apiVersion: v1
kind: Secret
metadata:
  name: frigate
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app.kubernetes.io/name: frigate
    app.kubernetes.io/managed-by: ansible
type: Opaque
data:
  rtsp_password: "{{ frigate_rtsp_password | b64encode }}"