apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app.kubernetes.io/name: external-dns
    app.kubernetes.io/managed-by: ansible