kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: qbittorrent-config
  namespace: "{{ k3s_namespace }}"
spec:
  storageClassName: {{ qbittorrent_config_storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ qbittorrent_config_storage_size }}