apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: qbittorrent-redirect-to-https
  namespace: "{{ qbittorrent_target_namespace | mandatory }}"
spec:
  redirectScheme:
    scheme: https
    permanent: true