version: "3.7"
services:
  master:
    image: homecentr/dns:{{ dns_docker_image_version }}
    networks:
      internal:
    environment:
      PUID: "{{ container_uid | string | mandatory }}"
      PGID: "{{ container_gid | string | mandatory }}"
    labels:
      io.homecentr.local-networks: "[{ \"Network\": \"{{ dns_publish_network | mandatory }}\", \"Config\": { \"IPAMConfig\": { \"IPV4Address\": \"{{ dns_master_ipv4 | mandatory }}\" } } }]"
    dns:
      - 127.0.0.1 # required for health check    
    volumes:
      - "master_config:/config:rw"

  # master_exporter:
  #   image: homecentr/dns-exporter:{{ dns_exporter_docker_image_version }}
  #   ports:
  #     - 9119:9119
  #   networks:
  #     internal:
  #   environment:
  #     EXPORTER_ARGS: "-bind.stats-url http://homecentr-dns_master:8888"
  #     PUID: "{{ container_uid | string | mandatory }}"
  #     PGID: "{{ container_gid | string | mandatory }}"

  # slave:
  #   image: homecentr/dns:{{ dns_docker_image_version }}
  #   networks:
  #     internal:
  #   environment:
  #     PUID: "{{ container_uid | string | mandatory }}"
  #     PGID: "{{ container_gid | string | mandatory }}"
  #   labels:
  #     io.homecentr.local-networks: "[{ \"Network\": \"{{ dns_publish_network | mandatory }}\", \"Config\": { \"IPAMConfig\": { \"IPV4Address\": \"{{ dns_slave_ipv4 | mandatory }}\" } } }]"
  #   dns:
  #     - 127.0.0.1 # required for health check    
  #   volumes:
  #     - "slave_config:/config:rw"

  # slave_exporter:
  #   image: homecentr/dns-exporter:{{ dns_exporter_docker_image_version }}
  #   ports:
  #     - 9120:9119
  #   networks:
  #     internal:
  #   environment:
  #     EXPORTER_ARGS: "-bind.stats-url http://homecentr-dns_slave:8888"
  #     PUID: "{{ container_uid | string | mandatory }}"
  #     PGID: "{{ container_gid | string | mandatory }}"

networks:
  internal:
    driver: overlay
    attachable: true
    ipam:
      driver: default
      config:
        - subnet: {{ dns_internal_network_cidr }}

volumes:
  master_config:
    name: "master-config"
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ data_root }}/master"

  slave_config:
    name: "slave-config"
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "{{ data_root }}/slave"