$TTL 86400
@ IN SOA ns1.{{ dns_forward_zone_domain | mandatory }}. admin.{{ dns_forward_zone_domain | mandatory }}. (
991079290 ; serial
28800 ; refresh
14400 ; retry
3600000 ; expire
86400 ; default_ttl
)
@ IN  NS  ns1.{{ dns_forward_zone_domain | mandatory }}.
@ IN  NS  ns2.{{ dns_forward_zone_domain | mandatory }}.
{{ dns_master_ipv4.split('.') | last }} IN PTR ns1.{{ dns_forward_zone_domain | mandatory }}.
{{ dns_slave_ipv4.split('.') | last }} IN PTR ns2.{{ dns_forward_zone_domain | mandatory }}.
