apiVersion: batch/v1
kind: Job
metadata:
  name: kubeaudit
  namespace: {{ k3s_namespace }}
spec:
  template:
    metadata:
      annotations:
        container.apparmor.security.beta.kubernetes.io/kubeaudit: runtime/default
        seccomp.security.alpha.kubernetes.io/pod: runtime/default
      labels:
        app.kubernetes.io/name: kube-audit
        app.kubernetes.io/managed-by: ansible
        homecentr.io/run-id: {{ kube_audit_run_id }}
    spec:
      serviceAccountName: kubeaudit
      restartPolicy: OnFailure
      metadata:
        labels:
          app.kubernetes.io/name: kube-audit
          app.kubernetes.io/managed-by: ansible
          homecentr.io/run-id: {{ kube_audit_run_id }}
      containers:
        - name: kubeaudit
          image: shopify/kubeaudit:v0.11
          args: ["all", "--exitcode", "0"]
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["all"]
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true