apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homer-https
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: "{{ k3s_namespace | mandatory }}-authentik@kubernetescrd"
spec:
  rules:
  - host: {{ homer_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: homer
            port:
              number: 8080
  tls:
    - secretName: {{ homer_tls_certificate_name }}