options {
        directory "/config";

        recursion yes;
        allow-recursion { any; };
        listen-on { any; };
        allow-transfer { none; };

        dnssec-enable yes;
        dnssec-validation auto;
        dnssec-lookaside auto;

        forwarders {
                {% for forwarder in dns_forwarders %}{{ forwarder }};{% endfor %}
        };
};

managed-keys { . initial-key 257 3 8 "AwEAAaz/tAm8yTn4Mfeh5eyI96WSVexTBAvkMgJzkKTOiW1vkIbzxeF3+/4RgWOq7HrxRixHlFlExOLAJr5emLvN7SWXgnLh4+B5xQlNVz8Og8kvArMtNROxVQuCaSnIDdD5LKyWbRd2n9WGe2R8PzgCmr3EgVLrjyBxWezF0jLHwVN8efS3rCj/EWgvIWgb9tarpVUDK/b58Da+sqqls3eNbuv7pr+eoZG+SrDK6nWeL3c6H5Apxz7LjVc1uTIdsIXxuOLYA4/ilBmSVIzuDWfdRUfhHdY6+cn8HFRm+2hM8AnXGXws9555KrUB5qihylGa8subX2Nn6UwNR1AkUTV74bU="; };

// Root zone
zone "{{ dns_forward_zone_domain }}" {
        type slave;
        file "root.zone";
        masters { {{ dns_master_ipv4 }}; };
};

// Services subnet reverse zone
zone "{{ dns_services_reverse_zone_range }}.in-addr.arpa" {
        type slave;
        file "services_reverse.zone";
        masters { {{ dns_master_ipv4 }}; };
};

key "slave_key" {
 algorithm HMAC-SHA512;
 secret "{{ dns_master_slave_secret | b64encode }}";
};

server {{ dns_master_ipv4 }} {
 keys { slave_key; };
};

// Enable statistics endpoint for the Prometheus exporter but only allow traffic from inside of the internal overlay network
statistics-channels {
  inet * port 8888 allow { {{ dns_internal_network_cidr }}; };
};