apiVersion: apps/v1
kind: Deployment
metadata:
  name: dhcp
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app.kubernetes.io/name: dhcp
    app.kubernetes.io/managed-by: ansible
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: dhcp
  template:
    metadata:
      labels:
        app.kubernetes.io/name: dhcp
        app.kubernetes.io/managed-by: ansible
        container.audit.kubernetes.io/dhcp.allow-capability-net-bind-service: "Required-port-67"
        container.audit.kubernetes.io/dhcp.allow-capability-net-raw: "Required-LPF-socket"
        container.audit.kubernetes.io/dhcp.allow-privilege-escalation: "Required-bug-in-kubernetes"
      annotations:
        container.apparmor.security.beta.kubernetes.io/dhcp: runtime/default
        seccomp.security.alpha.kubernetes.io/pod: runtime/default
    spec:
      priorityClassName: system-cluster-critical
      automountServiceAccountToken: false
      containers:
      - name: dhcp
        image: homecentr/dhcp:{{ dhcp_image_tag }}
        args: ["eth0"] # To force listening on interface even though there's no subnet definition for the internal network
        ports:
          - containerPort: 67
            protocol: UDP
            resources:
        limits:
          cpu: 500m
          memory: 256Mi
        requests:
          memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: true # Cannot be set to false due to https://github.com/kubernetes/kubernetes/issues/56374
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          capabilities:
            drop:
            - all
            add:
            - NET_BIND_SERVICE
            - NET_RAW
        volumeMounts:
          - name: dhcp-config
            mountPath: "/config/dhcpd.conf"
            subPath: dhcpd.conf
            readOnly: true
          - name: dhcp-config
            mountPath: "/etc/default/isc-dhcp-server"
            subPath: interfaces
            readOnly: true
          - mountPath: /leases
            name: leases
        resources:
          limits:
            cpu: 1000m
            memory: 1Gi
          requests:
            memory: 256Mi
      volumes:
        - name: dhcp-config
          configMap:
            name: dhcp
            items:
            - key: dhcpd.conf
              path: dhcpd.conf
            - key: interfaces
              path: interfaces
        - name: leases
          persistentVolumeClaim:
            claimName: dhcp-leases