disable:
- servicelb
- coredns
- metrics-server
cluster-cidr: {{ k3s_cluster_cidr | mandatory }}
service-cidr: {{ k3s_cluster_services_cidr | mandatory }}
{% if k3s_cluster_init is defined and k3s_cluster_init %}
cluster-init: true
{% else %}
server: {{ k3s_cluster_join | mandatory }}
{% endif %}
token: "{{ k3s_cluster_secret | mandatory }}"

node-label:
{% for key, value in k3s_labels.items() %}
    - {{ key }}={{ value }}
{% endfor %}

# etcd-expose-metrics: true
write-kubeconfig-mode: 640
kube-controller-manager-arg: "--pod-eviction-timeout={{ k3s_pod_eviction_timeout }}"