apiVersion: v1
kind: ConfigMap
metadata:
  name: smtp-relay
  namespace: "{{ k3s_namespace | mandatory }}"
data:
  smtpd: |
    # Listen on all interfaces (limited by the scope of Docker container so there is no point in filtering the interfaces)
    listen on 0.0.0.0

    # Only clients connecting from allowed CIDRs can send e-mails
    table allowed_sources { {{ smtp_relay_allowed_clients_cidr_blocks | join(',') }} }

    # SMTP Relay credentials
    table secrets file:/config/smtp-credentials

    # Define relay rule for all incoming e-mails
    action "relay" relay host smtp+tls://relay-secret@{{ smtp_relay_host | mandatory }}:{{ smtp_relay_port | mandatory }} auth <secrets>

    # Relay without authentication only e-mails from trusted IP addresses
    match from src <allowed_sources> mail-from regex "@{{ smtp_relay_sender_domain }}" for any action "relay"