apiVersion: apps/v1
kind: Deployment
metadata:
  name: smtp-relay
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app: smtp-relay
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smtp-relay
  template:
    metadata:
      labels:
        app: smtp-relay
    spec:
      priorityClassName: critical-priority # Required for iDRAC alerts
      containers:
      - name: opensmtpd
        image: ghcr.io/homecentr/opensmtpd:{{ smtp_relay_opensmtpd_image_tag }}
        ports:
        - containerPort: 25
        volumeMounts:
        - name: smtpd-config
          mountPath: "/config/smtpd.conf"
          subPath: smtpd.conf
          readOnly: true
        - name: smtp-credentials
          mountPath: "/config/smtp-credentials"
          subPath: relay_credentials
          readOnly: true
      volumes:
        - name: smtpd-config
          configMap:
            name: smtp-relay
            items:
            - key: "smtpd"
              path: smtpd.conf
        - name: smtp-credentials
          secret:
            secretName: smtp-relay-credentials
            optional: false