apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: smtp-relay
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app.kubernetes.io/name: smtp-relay
    app.kubernetes.io/managed-by: ansible
spec:
  podSelector:
    matchLabels:
      app: smtp-relay
  policyTypes:
    - Ingress
  ingress:
    - from:
{% for service_labels in smtp_relay_allowed_clients_services %}
        - podSelector:
            matchLabels:
              {{ service_labels }}
{% endfor -%}
{% for cidr_block in smtp_relay_allowed_clients_cidr_blocks %}
        - ipBlock:
            cidr: "{{ cidr_block }}"
{% endfor -%}