apiVersion: v1
kind: Secret
metadata:
  name: smtp-relay-credentials
  namespace: "{{ k3s_namespace | mandatory }}"
type: Opaque
data:
  relay_credentials: |
    {{ ((smtp_relay_username | mandatory) + ':' + (smtp_relay_password | mandatory)) | b64encode }}