apiVersion: v1
kind: Secret
metadata:
  name: smtp-relay
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app.kubernetes.io/name: smtp-relay
    app.kubernetes.io/managed-by: ansible
type: Opaque
data:
  config: "{{ lookup('template', 'config.json.j2') | tojson | b64encode }}"