apiVersion: v1
kind: Service
metadata:
  name: smtp-relay
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    metallb.universe.tf/loadBalancerIPs: {{ smtp_relay_ipv4_address }}
spec:
  ports:
  - port: 25
    targetPort: 25
  selector:
    app: smtp-relay
  type: LoadBalancer
  # externalIps:
  # - {{ smtp_relay_ipv4_address }}
status:
  loadBalancer:
    ingress:
    - ip: {{ smtp_relay_ipv4_address }}