apiVersion: v1
kind: Service
metadata:
  name: smtp-relay
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    metallb.universe.tf/loadBalancerIPs: {{ smtp_relay_ipv4_address }}
    coredns.io/hostname: {{ smtp_relay_hostname }}
  labels:
    app.kubernetes.io/name: smtp-relay
    app.kubernetes.io/managed-by: ansible
spec:
  ports:
  - port: 25
    targetPort: 25
  selector:
    app.kubernetes.io/name: smtp-relay
  type: LoadBalancer
  externalTrafficPolicy: Local