insecure_server: true
log_level: debug

signing_key: "{{ auth_signing_key }}"

address: ":80"
forward_auth_url: http://fwdauth:80
authenticate_service_url: https://{{ auth_domain }}

idp_provider: {{ auth_idp_type }}
{% if auth_idp_scopes is defined %}
idp_scopes: {{ auth_idp_scopes }}
{% endif %}
idp_provider_url: {{ auth_idp_url }}
idp_client_id: {{ auth_idp_client_id }}
idp_client_secret: {{ auth_idp_client_secret }}
{% if auth_idp_service_account is defined %}
# idp_service_account: {{ auth_idp_service_account | to_json | b64encode }}
{% endif %}

cookie_secret: {{ auth_cookie_secret }}

routes:
  - from: https://verify.lab.homecentr.io
    to: http://verify.localhost
    allowed_users:
      - l.holota@outlook.com
    allowed_groups:
      - 3e1999f8-e3f5-4fa4-b8ab-f83db2d3a62a # TestGrp
    pass_identity_headers: true

jwt_claims_headers:
  - email
  - groups
  - user
#   X-Email: email