apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ storage_service_name }}-{{ storage_directory_name }}
  namespace: {{ storage_namespace }}
  labels:
    app.kubernetes.io/instance: "{{ storage_service_instance_name }}"
    app.kubernetes.io/managed-by: "ansible"
    app.kubernetes.io/name: "{{ storage_service_name }}"
spec:
  storageClassName: manual.{{ storage_service_name }}-{{ storage_directory_name }}
  persistentVolumeReclaimPolicy: Recycle
  capacity:
    storage: {{ storage_size_gigabytes }}Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "{{  }}"