apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: manual.{{ storage_service_name }}-{{ storage_directory_name }}
  namespace: {{ storage_namespace }}
  labels:
    app.kubernetes.io/instance: "{{ storage_service_instance_name }}"
    app.kubernetes.io/managed-by: "ansible"
    app.kubernetes.io/name: "{{ storage_service_name }}"
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer