apiVersion: v1
kind: Service
metadata:
  name: unifi-controller-infra-tcp
  namespace: "{{ k3s_namespace | mandatory }}"
  annotations:
    metallb.universe.tf/allow-shared-ip: UnifiController
    metallb.universe.tf/loadBalancerIPs: {{ unifi_controller_infra_ipv4_address }}
  labels:
    app.kubernetes.io/name: unifi-controller
    app.kubernetes.io/managed-by: ansible
spec:
  ports:
  - name: "devices-communication"
    port: 8080
  - name: "guest-portal-https"
    port: 8843
  - name: "guest-portal-http"
    port: 8880
  - name: "mobile-throughput-test"
    port: 6789
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app.kubernetes.io/name: unifi-controller