version: "3.7"
services:
  proxy:
    image: homecentr/traefik:{{ ingress_docker_image_version }}
    deploy:
      mode: global
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "9090:9090/tcp"
    networks:
      - proxy
    environment:
      PUID: "{{ ingress_user_id }}"
      PGID: "{{ ingress_group_id }}"
      PUID_ADDITIONAL_GROUPS: "{{ docker_gid }}:docker,{{ ingress_certificates_group_id }}:ssl-read"
      LOG_LEVEL: "{{ ingress_log_level }}"
      TRAEFIK_PILOT_DASHBOARD: "false"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "config:/config:ro"
      - "ssl:/ssl:ro"
networks:
  proxy:
    name: "homecentr-ingress"
    driver: overlay
    attachable: true

volumes:
  config:
    driver_opts:
      type: none
      device: "{{ ingress_root_dir }}"
      o: bind

  ssl:
    driver_opts:
      type: none
      device: "{{ ingress_certificates_dir }}"
      o: bind