apiVersion: apps/v1
kind: Deployment
metadata:
  name: heimdall
  namespace: "{{ k3s_namespace | mandatory }}"
  labels:
    app: heimdall
spec:
  replicas: 1
  selector:
    matchLabels:
      app: heimdall
  template:
    metadata:
      labels:
        app: heimdall
    spec:
      containers:
      - name: heimdall
        image: lscr.io/linuxserver/heimdall:{{ heimdall_image_tag }}
        env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
        ports:
          - containerPort: 80
          - containerPort: 443
        volumeMounts:
          - mountPath: /config
            name: config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: heimdall-config