kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: heimdall-config
  namespace: "{{ k3s_namespace | mandatory }}"
spec:
  storageClassName: {{ heimdall_config_storage_class | mandatory }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 512Mi